.DS_Store
transcript
tcl_stacktrace.txt
c5_pin_model_dump.txt
*.mti
*.mpf
*.wlf
*.qdb
*.qpg
*.qtl
*.qpf
*.sof
*.bak
*.qsf
*.do
work/
db/
incremental_db/
simulation/
output_files/
.vscode/
*.asm
*.lkr
*.lst
*.map
*.obj
*.hex